h1 {
  font-size: 3.75em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.875em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.125em; }

html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden; }

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: Lato,sans-serif; }

.brand {
  background: #ff4b2e;
  height: 20%; }

.brand h3 {
  font-family: 'Leckerli One', cursive;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 5px; }

.pr-content {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  overflow-y: scroll; }

.pr-nav {
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  border-top: #acacac 1px solid;
  background: #ffffff;
  -webkit-box-flex: 0;
  flex: 0 0 auto; }

.pr-nav ul {
  display: -webkit-box;
  display: flex; }

.pr-nav li {
  list-style: none;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding-top: 10px; }

.pr-nav i {
  font-size: 2.5em;
  color: #acacac; }

.pr-nav .active i {
  color: #ff4b2e; }

.divider {
  width: 90%;
  height: 2px;
  background: #acacac; }

.page-title {
  color: #ff4b2e;
  text-align: center;
  font-weight: bold; }

.category-wrapper {
  width: 85%;
  margin: 0 auto; }

.category:last-of-type {
  margin-bottom: 20%; }

.category {
  list-style: none;
  padding: 0; }

.category-title {
  background: #ff4b2e; }

.category h3 {
  color: white;
  margin-bottom: 0;
  padding: 5px; }

.recipes {
  list-style: none;
  font-size: 1.75em;
  font-weight: lighter;
  padding: 0; }

.recipes li {
  background: rgba(225, 75, 46, 0.1);
  margin-bottom: 2px; }

.recipes a {
  color: #3f3f3f;
  padding-left: 15px; }

.pr-button {
  width: 80%;
  padding: 5%;
  background: #ff4b2e;
  border-radius: 10px;
  border-bottom: #fc907e 3px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 10% 0;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  color: white;
  font-size: 1em; }

.home {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  align-content: center;
  -webkit-box-align: center;
  align-items: center; }

.home-buttons, .home-lists {
  -webkit-box-flex: 1;
  flex: 1 1 auto; }

.home-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-width: 100%; }

.home .pr-button a {
  color: white;
  font-size: 2.25em;
  min-width: 100%; }

.home-lists {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 80%;
  margin: 0 auto; }

.home-lists h3 a {
  color: #ff4b2e; }

.home-lists i {
  font-size: .8em;
  color: #acacac; }

.home-lists .pr-button {
  text-align: center;
  width: 65%;
  margin: 5% auto;
  color: white;
  font-size: 2em; }

.mini-nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 85%;
  margin: 0 auto; }

.mini-nav li {
  border: #ff4b2e 2px solid;
  border-radius: 100%;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  margin: 5px; }

.mini-nav a {
  color: #ff4b2e;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }

.mini-nav i {
  font-size: 2em;
  text-align: center;
  padding: 10px; }

.recipe-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 85%;
  margin: 0 auto; }

.recipe-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 15px; }

.recipe-form input, textarea {
  border: 1px #acacac solid;
  border-radius: 5px;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #3f3f3f;
  font-weight: lighter;
  padding-left: 3px; }

.ingredient-section {
  display: -webkit-box;
  display: flex; }

.ingredient-section label, input {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  margin: 0 5px 2px 5px; }

.ingredient-inputs {
  display: -webkit-box;
  display: flex; }

.qty, .type, .ingredient {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.qty {
  width: 5%; }

.type {
  width: 10%; }

.ingredient {
  width: 20%; }

.dept {
  width: 15%;
  height: 34px;
  align-self: flex-end; }

.dept button {
  color: #ff4b2e;
  width: 100px;
  padding: 5px; }

.dept .dropdown-menu a {
  display: block;
  color: #ff4b2e;
  text-decoration: none;
  padding: 3px 0 5px 3px; }

.sub-heading {
  font-weight: lighter;
  color: #acacac;
  margin: 0; }

.form-heading {
  font-size: 1.5em;
  color: #ff4b2e; }

.add-ingredient {
  margin: 5px 5px 15px 5px;
  font-size: 1.3em;
  color: #acacac;
  font-weight: lighter; }

.add-ingredient i {
  text-align: center;
  color: #ff4b2e; }

.save-button {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }

.recipe-form .pr-button {
  width: 80%;
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 30%; }

.create-list {
  width: 85%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0 auto; }

.create-list label {
  margin-left: 5px; }

.create-list input {
  border: 1px #acacac solid;
  border-radius: 5px;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #3f3f3f;
  font-weight: lighter;
  padding-left: 3px;
  width: 100%; }

.create-list a {
  width: 100%;
  font-size: 1.8em;
  color: #ff4b2e;
  display: block;
  margin: 10px 5px; }

.recipes-added {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.recipes-added p {
  background: #ff4b2e;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px;
  margin-left: 5px; }

.recipes-added a {
  display: inline;
  color: #ffffff;
  font-size: 1em; }

.items-inputs {
  display: -webkit-box;
  display: flex;
  width: 100%; }

.items-inputs div {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  margin: 0 5px 2px 5px; }

.create-list .category-wrapper {
  width: 100%; }

.create-list .category-title h3 {
  font-size: 1.75em; }

.create-list .list-items {
  font-size: 1.5em; }

.create-list .list-items a {
  font-size: 1em;
  text-align: right;
  display: inline-block; }

.create-list .category:last-of-type {
  margin-bottom: 0; }

.create-list .save-button {
  margin-bottom: 15%; }

.create-list .save-button .pr-button {
  font-size: 2em; }

.grocery-lists .mini-nav {
  color: #ff4b2e;
  text-align: center; }

.grocery-lists .mini-nav li {
  margin: 10px; }

.lists {
  list-style: none;
  font-size: 2em;
  margin: 25px 5px 5px; }

.lists li {
  margin-bottom: 15px; }

.lists a {
  color: #ff4b2e; }

.lists i {
  color: #acacac; }

.grocery-list-wrapper .mini-nav ul {
  width: 65%; }

.list-nav li {
  margin: 12px; }

.list-view-toggle {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }

.list-view-toggle a {
  color: #ffffff;
  font-size: 1.3em;
  padding: 5px;
  text-align: center;
  margin-right: 2px; }

.list-view-toggle .toggle-active {
  background: #fb6e58;
  box-shadow: inset 0px -4px 5px 0px #ff4b2e;
  border-radius: 5px 0 0 5px; }

.list-view-toggle .toggle-inactive {
  background: #ff4b2e;
  border-radius: 0 5px 5px 0; }

.grocery-list-wrapper .category-title h3 {
  font-size: 2em; }

.grocery-list-wrapper .recipes li {
  padding-left: 5px; }

/*# sourceMappingURL=app.css.map */
