//Brand Bar
.brand {
  background: #ff4b2e;
  height: 20%;
}


.brand h2 {
  font-family:'Reklame Script', cursive ;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 5px;

}

//Footer Navigation

.pr-nav {
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  border-top:#acacac 1px solid;
}

.pr-nav ul {
  display: flex;
}

.pr-nav li {
  list-style: none;
  flex: 1 1 auto;
  padding-top: 10px;

}

.pr-nav i {
  font-size: 2.5em;
  color: #acacac;
}

.pr-nav .active i{
  color: #ff4b2e;
}