.pr-button {
  width:80%;
  padding: 5%;
  background: #ff4b2e;
  border-radius: 10px;
  border-bottom: #fc907e 3px solid;
  border-top:none;
  border-right:none;
  border-left: none;
  margin: 10% 0;
  flex: 1 1 auto;
}

.divider {
  width: 90%;
  height: 2px;
  background: #acacac;
}

//Page Titles

.page-title {
  color: #ff4b2e;
  text-align: center;
  font-weight: bold;
}

//Mini Navigation

.mini-nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 85%;
  margin: 0 auto;
}

.mini-nav li {
  border: #ff4b2e 2px solid;
  border-radius: 100%;
  flex: 1 1 auto;
  margin: 5px;
}

.mini-nav a {
  color: #ff4b2e;
  display: flex;
  justify-content: center;
}

.mini-nav i {
  font-size: 2em;
  text-align: center;
  padding: 10px;
}




//Home Styling
.home {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.home-buttons, .home-lists {
  flex: 1 1 auto;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}


.home .pr-button a {
  color: white;
  font-size: 2.25em;
  min-width: 100%;
}

.home-lists {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.home-lists h3 a {
  color: #ff4b2e;
}

.home-lists i {
  font-size: .8em;
  color: #acacac;
}

.home-lists .pr-button {
  text-align: center;
  width: 65%;
  margin: 5% auto;
  color: white;
  font-size: 2em;
}

//RECIPES

//Recipes

.category-wrapper {
  width: 85%;
  margin: 0 auto;
}

.category:last-of-type {
  margin-bottom: 20%;
}

.category {
  list-style: none;
  padding: 0;

}

.category-title {
  background: #ff4b2e;
}

.category h3 {
  color: white;
  margin-bottom: 0;
  padding: 5px;
}

.recipes {
  list-style: none;
  font-size: 1.75em;
  font-weight: lighter;
  padding: 0;
}

.recipes li {
  background: rgba(225,75,46,.10);
  margin-bottom: 2px;
}

.recipes a {
  color: #3f3f3f;
  padding-left: 15px;
}



//Add New Recipe

