.recipe-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.recipe-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.recipe-section__selection-group--category{
  display: flex;
}
.recipe-section__selection--category {
  flex: 1;
}

.recipe-form input, textarea {
  border: 1px #acacac solid;
  border-radius: 5px;
  line-height: 1.5em;
  font-size: 1.3em;
  color: #3f3f3f;
  font-weight: lighter;
  padding-left: 3px;
}

.ingredient-section {
  display: flex;


}

.ingredient-section label, input {
  flex: 1 1 auto;
  margin: 0 5px 2px 5px;
}

.ingredient-inputs {
  display: flex;
}

.qty, .type, .ingredient {
  display: flex;
  flex-direction: column;

}

.qty {
  width: 5%;
}

.type {
  width: 10%;
}

.ingredient {
  width: 20%;
}

.dept {
  width: 15%;
  height: 34px;
  align-self: flex-end;
}

.dept button {
  color: #ff4b2e;
  width: 100px;
  padding: 5px;
}

.dept .dropdown-menu a {
  display: block;
  color: #ff4b2e;
  text-decoration: none;
  padding: 3px 0 5px 3px;
}

.sub-heading {
  font-weight: lighter;
  color: #acacac;
  margin: 0;
}


.form-heading {
  font-size: 1.5em;
  color: #ff4b2e;
}

.add-ingredient {
  margin: 5px 5px 15px 5px;
  font-size: 1.3em;
  color: #acacac;
  font-weight: lighter;
}

.add-ingredient i {
  text-align: center;
  color: #ff4b2e;
}

.save-button {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.recipe-form .pr-button {
  width: 80%;
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 30%;
}
