.grocery-lists .mini-nav {
  color: #ff4b2e;
  text-align: center;
}

.grocery-lists .mini-nav li {
  margin: 10px;
}

.lists {
  list-style: none;
  font-size: 2em;
  margin: 25px 5px 5px;
}

.lists li {
  margin-bottom: 15px;
}

.lists a {
  color: #ff4b2e;
}

.lists i {
  color: #acacac;
}